* {
  margin: 0;
  padding: 0;
  background-color: #c0d8e0;
  background-size: cover;
  background-repeat: no-repeat;
}

.kontener {
  width: 450px;
  height: 505px;
  margin-left: 63%;
  border-radius: 4px;
  margin-top: 8px;
  position: fixed;
  background-color: white;
}

.containerbayar {
  width: 100%;
  height: 50px;
  margin-top: 510px;
}

.bukupilihan {
  width: 200px;
  height: 361px;
  position: fixed;
  margin-left: 20%;
  margin-top: 8%;
}
.leftside {
  flex-direction: row;
  position: relative;
  display: flex;
  gap: 50px;
}
.harga {
  font-size: 18px;
  background-color: none;
  height: 2;
  background-color: #264653;
  margin-left: 61.75%;
  float: left;
  width: 450px;
}
.isipopup {
  align-content: flex-end;
  display: flex;
  flex-direction: column;
}

.ketbaca,
.judulbuku,
.isbn,
.genre,
.jenisbacaan,
.penerbit,
.sinopsis,
.isisinopsis {
  align-content: space-around;
  background-color: white;
  padding-left: 5px;
  font-family: "roboto", sans-serif;
}

.ketbaca {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  color: black;
  border-width: 1;
  border-bottom-color: #264653;
  border-top-color: rgba(0, 0, 0, 0.001);
  border-right-color: rgba(0, 0, 0, 0.001);
  border-left-color: rgba(0, 0, 0, 0.001);
  border-style: solid;
}

.judulbuku {
  padding-top: 20px;
  font-size: 20px;
}

.isbn,
.genre,
.jenisbacaan,
.penerbit {
  padding-top: 10px;
  font-size: 20px;
}

.sinopsis {
  padding-top: 40px;
  font-size: 20px;
  border-width: 1;
  border-bottom-color: #264653;
  border-top-color: rgba(0, 0, 0, 0.001);
  border-right-color: rgba(0, 0, 0, 0.001);
  border-left-color: rgba(0, 0, 0, 0.001);
  border-style: solid;
  font-size: 30px;
  font-weight: bold;
}

.isisinopsis {
  padding-top: 10px;
  font-size: 20px;
}
