/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
}

/* Make the image responsive */
.landingtop {
    width: 100%;
    height: 50%;
}

/* Style the button and place it in the middle of the container/image */
.btn-homepage {
    position: absolute;
    top: 700px;
    left: 250px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: black;
}
