.body {
    width: 100%;
    height: 100%;
    position: absolute;
}

.form {
    width: 60%;
    height: 600px !important;
    background-color: white;
    position: fixed;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 10px;
    border: 2px solid black;
}
.email input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    font-size: 10px;
    padding: 15px;
    height: 10px;
    width: 400px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: 2px solid black;
}
.password input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    font-size: 10px;
    padding: 15px;
    height: 10px;
    width: 400px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-color: black;
    border-width: 10%;
    border: 2px solid black;
}
.password,
.gicon,
.email,
.password,
.subjudul,
.judul,
.loginoption,
.giconspace,
.signup {
    background-color: white;
    padding-top: 15px;
    color: black;
}
.judul {
    margin-top: 60px !important;
    font-size: 30px;
    font-weight: bold;
}
.subjudul {
    font-size: 15px;
}
.loginoption {
    font-size: 15px;
}
.gicon {
    font-size: 30px !important;
}

.gfacebook {
    font-size: 30px;
    background-color: white !important;
    margin-left: 20px;
}

.hrefsignup {
    background-color: white;
    font-style: none;
    color: #469ebb;
}
.btnsignup-login {
    padding: 16px;
    font-size: 16px;
    border: 2px solid black;
    background-color: #264653;
    margin-top: 10px;
    font-weight: bold;
    color: white;
}
.btnsignup:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.spacebtn {
    background-color: white;
}

input[type="text"],
input[type="password"] {
    width: 70% !important;
    padding: 20px !important;
}
